In [37]:
import pandas as pd

# First dataframe
data1 = {'C1': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
         'C2': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']}
df = pd.DataFrame(data1, index=range(1, 11))

# Second dataframe
data2 = {'C3': ['a', 'e']}
df2 = pd.DataFrame(data2, index=[1, 5])
df2_saved_index = df2.index

## The Amazing Index in Pandas

Here we have two data frames. How do we combine them neatly with the help of index?  

1. `merge`: and explicitly set left_index and right_index to be True
2. `concat`: index automatically matched
    * What if I reorder df2, would it mess things up? üòù
    * No it would be fine üíÉüèª
3. Just assign the values directly, and the assignment is done by index!üòé

At the end there are also two bonus sections
* What will happen if we use the above methods on two dataframes with no matching index? (spoiler alert: things are still neat ü•Ç)
* Finally, are there anything we can do to mess things up? ü§™ Yes, pls see at the end.

### 1. Merge

In [38]:
# Merge the two dataframes, explicitly based on the index
merged_df = df2.merge(df, left_index=True, right_index=True)

# Display the merged dataframe
print(merged_df)

  C3  C1 C2
1  a  10  A
5  e  50  E

### 2. Concat

In [39]:
# Didn't specify but notice that the rows were matched by index automatically
concatenated_df = pd.concat([df2, df], axis=1, join='inner')
print(concatenated_df)

  C3  C1 C2
1  a  10  A
5  e  50  E

In [40]:
# reorder df2, but notice the index is unchanged
df2.sort_values('C3', ascending = False, inplace = True)
print(df2)

  C3
5  e
1  a

In [41]:
pd.concat([df2, df], axis = 1, join = 'inner')

  C3  C1 C2
5  e  50  E
1  a  10  A

## 3. Assign directly

In [42]:
# Even if we simply assign the values like below, the assignment were based on index
df2['C1'] = df['C1']
df2['C2'] = df['C2']

print(df2)

  C3  C1 C2
5  e  50  E
1  a  10  A

## Mess Things Up

So even if we reorder the dataframe, the index will stay in place and help with matching. What could we do to mess things up?

Remember df2 has been reordered by C3 above, but the index are still the original index? What if we use `set_index()` and feed a saved index into it?

In [43]:
df2.set_index(df2_saved_index)

  C3  C1 C2
1  e  50  E
5  a  10  A

Now finally the index are no longer the original one but has been reset. If we do concat again now, it will be done using the newly assigned index and no longer consistent with the original. Pls see below.

In [44]:
pd.concat([df2.set_index(df2_saved_index), df], axis = 1, join = 'inner')

  C3  C1 C2  C1 C2
1  e  50  E  10  A
5  a  10  A  50  E

# What if the index are not matched?

In [45]:
# recall the df has index ranging from 1 to 11
df.index

RangeIndex(start=1, stop=11, step=1)

In [46]:
# create a 3rd dataframe with index 21 and 25
data3 = {'C3': ['aa', 'ee']}
df3 = pd.DataFrame(data3, index=[21, 25])

In [47]:
# merge result in an empty dataframe as there is no matching index
df.merge(df3, right_index=True, left_index=True)

Empty DataFrame
Columns: [C1, C2, C3]
Index: []

In [48]:
# pd.concat will stack two dataframes by index
pd.concat([df,df3], axis=1)

       C1   C2   C3
1    10.0    A  NaN
2    20.0    B  NaN
3    30.0    C  NaN
4    40.0    D  NaN
5    50.0    E  NaN
6    60.0    F  NaN
7    70.0    G  NaN
8    80.0    H  NaN
9    90.0    I  NaN
10  100.0    J  NaN
21    NaN  NaN   aa
25    NaN  NaN   ee

In [49]:
# because there is no matching index, the assigned C2 column will have missing values
df3['C2'] = df['C2']
df3

    C3   C2
21  aa  NaN
25  ee  NaN